body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  max-width: 100%;
  min-height: 100vh;
  background: white ;
}

/* --------------------HEADER----------------------- */
@import url('./styles/Header.css');
/* ----------------------FILTER--------------------- */
@import url('./styles/filter.css');
/* ----------------------PRODUCTS----------------- */
@import url('./styles/products.css');
/* ----------------------DETAIL-------------------- */
@import url('./styles/detail.css');